---
import {
  SITE_WELCOME,
  SITE_INTRODUCTION,
  GITHUB_LINK,
  TWITTER_LINK,
  LINKED_LINK,
} from "../consts";
import ProfileImage from "../../public/profile-image.jpg";
import { Icon } from "astro-icon/components";

const url = Astro.url.pathname;
---

<header class="bg-light-background">
  {/* NAVBAR */}
  <nav
    class="flex items-center justify-between w-full flex-wrap p-6 mx-auto max-w-4xl min-h-full"
  >
    <div
      class="flex items-center flex-shrink-0 text-black-100 mr-6 hover:text-white hover:cursor-pointer"
    >
      <a
        href="/"
        class="block mt-4 lg:inline-block lg:mt-0 text-black-100 hover:text-white mr-4"
      >
        <Icon class="h-8 w-8 mr-2" name="mdi:home" />
      </a>
    </div>
    <div class="flex justify-end flex-grow items-center w-auto">
      <a
        href={TWITTER_LINK}
        class="block mt-4 lg:inline-block lg:mt-0 text-black-100 hover:text-white mr-4"
      >
        <Icon class="h-8 w-8 mr-2" name="mdi:twitter" />
      </a>
      <a
        href={GITHUB_LINK}
        class="block mt-4 lg:inline-block lg:mt-0 text-black-100 hover:text-white mr-4"
      >
        <Icon class="h-8 w-8 mr-2" name="mdi:github" />
      </a>
      <a
        href={LINKED_LINK}
        class="block mt-4 lg:inline-block lg:mt-0 text-black-100 hover:text-white"
      >
        <Icon class="h-8 w-8 mr-2" name="mdi:linkedin" />
      </a>
    </div>
  </nav>
  {/* INTRODUCTION */}
  {
    url === "/" ? (
      <div class="mx-auto max-w-4xl px-4 md:px-6 lg:px-8 pb-12 pt-4 sm:pt-8">
        <div class="flex flex-col items-center gap-6 text-center sm:flex-row sm:items-center sm:gap-8 sm:text-left">
          <img
            class="size-28 shrink-0 rounded-full object-cover ring-2 ring-white/15 grayscale transition duration-300 hover:grayscale-0 sm:size-32"
            src={ProfileImage.src}
            alt="Adrian Beria"
            width="128"
            height="128"
          />
          <div class="flex flex-col gap-3">
            <h1 class="text-3xl font-bold tracking-tight text-slate-50 sm:text-4xl">
              {SITE_WELCOME}
            </h1>
            <p class="max-w-2xl text-base leading-relaxed text-light-text sm:text-lg">
              {SITE_INTRODUCTION}
            </p>
          </div>
        </div>
      </div>
    ) : null
  }
</header>
