---
import FormattedDate from "../components/FormattedDate.astro";
import { SITE_TITLE } from "../consts";
import BaseLayout from "./BaseLayout.astro";

const { title, description, category, pubDate } = Astro.props;
const uppercaseCategory = category.map(
  (category: string) => category.charAt(0).toUpperCase() + category.slice(1)
);
---

<BaseLayout title={`${SITE_TITLE} | ${title}`} description={description}>
  <article
    class="max-w-fit prose prose-hr:my-8 prose-h1:font-semibold prose-h1:mb-0 prose-code:text-md text-md sm:text-md text-gray-700 scroller"
  >
    <h1 class="font-bold text-pretty underline underline-offset-auto">
      {title}
    </h1>
    <div class="flex flex-row gap-4 text-md">
      <FormattedDate date={pubDate} />—
      <div class="flex flex-row">
        {uppercaseCategory.join(", ")}
      </div>
    </div>
    <slot />
  </article>
</BaseLayout>
